doctype html
head
  meta(charset='utf-8')
  link(rel='stylesheet' type='text/css' href='main.css')
  title Webpack App
.sum
h3 Test of receiving data from the JSON server
button.btn Requesting data
.jsonData
//- script(src='main.js')
